body {
	background-color: #404040;
	color: white;
}
.info {
	top: 0;
    	position: absolute;
}
.country {
	fill: #ccc;
	stroke: #666;
	stroke-width: .1px;
	stroke-linejoin: round;
}

}
#map {
	position: absolute;
	width: 800px;
}
#content {
	position: relative;
	margin-left: 810px;
}
